MyPcbLib/dra&psm/*.log,2
MyPcbLib/dra&psm/*.log,1
MyPcbLib/dra&psm/*.log
MyPcbLib/dra&psm/*.jrl 
MyPcbLib/dra&psm/*.tag
MyPcbLib/dra&psm/stepFacetFiles4Map
MyPcbLib/dra&psm/*.jrl,1
MyPcbLib/dra&psm/master.tag
MyCandenceLib/*.OLBlck
MyCandenceConfigDoc
